<div class="container">
  <div class="upper-data">
    <img src="../assets/hot.jpg" alt="hot-weather" *ngIf="14>15">
    <img src="../assets/cold.jpg" alt="cold-weather" *ngIf="14<=15">
    <div class="weather-data">
      <div class="location">Monterrey</div>
      <div class="temperature">{{14.40| number: '1.0-0'}}°C</div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/min.png" alt="min-image">
          <span>min</span>
        </div>
        <div class="info-block-value">
          10°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/max.png" alt="max-image">
          <span>max</span>
        </div>
        <div class="info-block-value">
          19°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.png" alt="humidity-image">
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          77%
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.png" alt="wind-image">
          <span>min</span>
        </div>
        <div class="info-block-value">
          15 km/h
        </div>
      </div>

    </div>
  </div>
</div>
<router-outlet></router-outlet>
